<script>
	import {onDestroy} from 'svelte'
	import { matchesStore } from '../containers/matches-store';
	import Header from '../components/Header.svelte';
	import Sidebar from '../components/Sidebar.svelte';
	import Footer from '../components/Footer.svelte';

	const unsubscribe = matchesStore.subscribe((val) => {
		console.log({val})
	})

	onDestroy(unsubscribe);

</script>

<style>
	:global(*) {
		box-sizing: border-box;
	}

	:global(#sapper) {
			display: grid;
			grid-template-areas:
				'header header sidebar'
				'main main sidebar'
				'footer footer sidebar'
	}

	main {
		position: relative;
		max-width: 56em;
		background-color: white;
		padding: 2em;
		margin: 0 auto;
		box-sizing: border-box;

		grid-area: main;
	}
</style>

<Header />
<main>
	<slot></slot>
</main>
<Sidebar>
	<p>This is sidebar</p>
</Sidebar>
<Footer />