<script context="module">
	export async function preload({ params, query }) {
		const res = await this.fetch('index.json');

		const data = await res.json();
		
		if (res.status === 200) {


			const preparedData = [];
			data.forEach(match => {
				console.log({match})
				let preparedMatch = {};
				preparedMatch.eventName = match.event_name;
				preparedMatch.matchId = match.match_id;
				preparedMatch.result = `${match.result[0]}:${match.result[1]}`;
				preparedData.push(preparedMatch);
			});

			matchesStore.load(preparedData);

			return {
				matches: preparedData
			}
		}
	}
</script>

<script>
	import { onDestroy } from 'svelte';
	import { matchesStore } from '../containers/matches-store';
	import MatchPreview from '../components/MatchPreview.svelte';
	export let matches;
</script>
<style>
</style>

<svelte:head>
	<title>Sapper project template</title>
</svelte:head>

<div>
	<h1>Matches</h1>
	{#each matches as match }
		<MatchPreview match={match} />
	{/each}
</div>