<script context="module">
	export async function preload({ params, query }) {
		// the `id` parameter is available because
		// this file is called [id].svelte
    const res = await this.fetch(`match/${params.id}.json`);
    
		const data = await res.json();

		if (res.status === 200) {
			return { match: data };
		} else {
			this.error(res.status, data.message);
		}
	}
</script>

<script>
  export let match;
  
  let { home_team, visitant_team, result } = match;
</script>

<style lang="scss">
  .match-result {
    display: flex;
  }
</style>

<svelte:head>
	<title>{match.event_name}</title>
</svelte:head>
<div class="match-result">
  <div>
    <img src={home_team.image} alt={home_team.name.full}>
  </div>
  <div>
    <p>{result[0]} : {result[1]}</p>
  </div>
  <div>
    <img src={visitant_team.image} alt={visitant_team.name.full}>
  </div>
</div>
