<script>
  import { onDestroy } from 'svelte';
  import { matchesStore } from '../containers/matches-store';

  console.log('FOOTER', $matchesStore);
  const unsubscribe = matchesStore.subscribe((val) => {
    console.log({val})
  });

  onDestroy(unsubscribe);
</script>
<style>
  .footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    border-top: 1px solid #000;
    height: 100px;
  }
</style>
<footer class="footer">
  <p>
    FOOTER
  </p>
  <p>
    {$matchesStore[0].matchId}
  </p>
</footer>