<script>

</script>

<style lang="scss">
  .header {
    grid-area: header;
    display: flex;
    justify-content: space-between;

    padding: 20px 50px;
    border-bottom: 1px solid #000;

    height: 100px;
  }
</style>
<header class="header">
  <a class="header__logo" href="/">
    Match Review
  </a>
  <button class="header__menu-btn" type="button">
    Menu
  </button>
</header>