<script>
  export let match;
</script>
<style lang="scss">
  .match-preview {
    display: flex;
    flex-direction: column;
  }
</style>
<article class="match-preview">
  <a href="match/{match.matchId}">{match.matchId}</a>
  <header>
    {match.eventName}
  </header>
  <div>
    {match.result}
  </div>
</article>