<script>
</script>

<style lang="scss">
  .sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 0;
    height: 100vh;

    border: 1px solid gray;
  }
</style>
<aside class="sidebar">
  <slot></slot>
</aside>